.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;

  margin-bottom: 20px;

  background-color: #eee;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-right: 15px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 0 24px;

  background-color: #3850ff;
  border-bottom: 0;
}

.logo {
  width: 200px;

  color: white;

  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.link {
  all: unset;
  font-family: inherit;
}
