.postPage {
  max-width: 700px;
  min-height: calc(100vh-84px);
  margin: 0 auto 20px;
}

.title {
  margin-bottom: 16px;

  font-size: 1.24rem;
}

.title::first-letter {
  text-transform: uppercase;
}

.author {
  display: inline-block;
  margin: 12px 0;
}

.email {
  margin-left: 8px;
}

.body {
  margin-bottom: 12px;

  font-size: 1.1rem;
  font-weight: 400;
}

.body::first-letter {
  text-transform: uppercase;
}

.comments {
  margin-top: 12px;
}

.commentsList {
  padding-left: 20px;
}

.comment {
  margin: 25px 0;

  list-style: none;
}

.comment__email {
  margin-bottom: 4px;
}

.comment__body {
  font-weight: 500;
}

.comment__body::first-letter {
  text-transform: uppercase;
}
